Flask==2.2.3
Flask-Login==0.6.2
Flask-RESTful==0.3.9
Flask-WTF==1.1.1
MarkupSafe==2.1.2
matplotlib==3.5.1
Pillow==9.0.1
pymorphy2==0.9.1
pymorphy2-dicts-ru==2.4.417127.4579844
PyNaCl==1.4.0
pyparsing==3.0.7
pytz==2022.7.1
pywin32-ctypes==0.2.0
PyYAML==6.0
requests==2.27.1
row==0.1.0.dev3
rsa==4.8
scipy==1.8.0
self==2020.12.3
six==1.16.0
SQLAlchemy==2.0.4
SQLAlchemy-serializer==1.4.1
typing_extensions==4.5.0
urllib3==1.26.8
Werkzeug==2.2.3
whichcraft==0.6.1
WTForms==3.0.1
XlsxWriter==3.0.3
zope.event==4.6
zope.interface==5.5.2
