<!--<html lang="en">-->
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet"
          href="/static/css/session.css">
    <link href='https://fonts.googleapis.com/css?family=Unbounded' rel='stylesheet' type='text/css'>
    <title>Сеанс: {{ name }}</title>
</head>
<body>
<br>
<div style="position: relative; text-align: center;" class="poster_and_name">
    <img style="height: 450px; widht: 200px" src="{{ poster }}" alt="{ poster }">
    <h1><br>{{ name }}</h1>
</div>

<div style="position: absolute; left: 1300px; top: 250px ">
    <a href="/purchase-page/{{ sess_id }}" class="btn btn-warning btn-lg" type="button">Купить билет</a>

    <h5 style="color: #f2a90c;"><br>Количесво мест: {{amount}}</h5>
</div>

<h3 style="padding-left: 50px; color: red;"> Описание: </h3>
<h4>Страна: {{country}}</h4>
<h4>Год: {{year}}</h4>
<h4>Жанр: {{genre}}</h4>
<h4>{{desc}}</h4>
<br>
<div style="position: relative; text-align: center; align-items: start;">
    {% if error %}
    <h3 style="color: red; font-weight: bold;">К сожалению, произошла ошибка при загрузке видео <a
            href="/video-load-error">Узнать больше</a> <br> Поэтому посмотрите
        трейлер-заглушку &#128513;</h3>
    <h3 style="color: red;">Трейлер:</h3>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/{{trailer_url_y}}"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
    {% else %}
    <h3 style="color: red;">Трейлер:</h3>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/{{trailer_url_y}}"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
    {% endif %}
</div>
<a class="btn btn-warning" role="button" style="position: absolute; left: 5%; top: 80px;" href="/">На главную</a>
</body>
<!--</html>-->