<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <title>Ошибка при воспроизведении видео</title>
</head>
<body>
<div style="text-align: center; position: relative; top: 150px; width: 2000px" class="container">
<h1>Привет!&#128075;</h1><br>
<h4 style="margin-left: auto; margin-right: auto; ">Если вы здесь, значит столкнулись с ошибкой загрузки
    видео. Переживать не стоит, эта ошибка обычно не связанна с
    вашим устройством, однако вы можете проверить своё интерне-соединение, а так же попробовать сделать то, что
    рекомендует сам плеер (нажмите на ошибку).</h4>
<br>
<h2 style="color: blue; font-weight: bold;">Почему это произошло?</h2>
<h4 style="margin-left: auto; margin-right: auto; ">Если вы все проверели, и ошибка осталась, значит ошибка
    на стороне api. Скорее всего api передаёт видеоплееру неправильную ссылку, и видео не загружается. Тут вы будете
    бессильны.</h4>
<br>
<h2 style="color: blue; font-weight: bold;">Как же мне посмотреть видео?</h2>
<h4 style="margin-left: auto; margin-right: auto; ">Вы можете зайти в <a target="_blank" style="color:green;"
                                                                                    href="https://www.google.com/">Google</a>
    или <a target="_blank" style="color: red;" href="https://www.youtube.com/">Youtube</a> и поискать трейлер
    там. Будем надеяться что там-то ошибок не будет.</h4>
</div>
<a class="btn btn-warning" role="button" style="position: absolute; left: 5%; top: 80px;" href="/">На главную</a>
</body>
</html>